<section class="for-your-business">
    <div class="container">
        <div class="title">
            <h3>შენი ბიზნესისთვის</h3>
            <p>დაცულია თუ არა შენი ბიზნესი? იცი რა ეღირება შენი ბიზნესის დაცვა? ალდაგი უზრუნველყოფს სადაზღვევო დაფარვებს
                ათი ათასობით მცირე მეწარმისთვის. ჩვენ გთავაზოვთ შენი ბიზნეს საქმიანობის უნიკალურ საჭიროებებზე მორგებულ
                დაფარვებს. ჩვენი მომხმარებლების 93% რეკომენდაციას უწევს ალდაგს.
            </p>
        </div>
        <div class="forBusinessSection">
            <drag-scroll *ngFor="let item of imgData">
                <div class="drag-scroll">
                    <p>{{item.imageId}}</p>
                    <img [src]="item.imageUrl" drag-scroll-item  [alt]="item.imageId">
                </div>
                

            </drag-scroll>
        </div>
    </div>
</section>