<drag-scroll class="main-slider" drag-scroll #nav>
    <div *ngFor="let mainSliderItem of mainSlider" class="drag-scroll mt-2 mx-2 position-relative w-100" drag-scroll-item>
        <img class="main-slider-img " [src]="mainSliderItem.imagePath" [alt]="mainSliderItem.title">
        <div class="main-textbox p-3">
            <h4>{{mainSliderItem.title}}</h4>
            <p class="pt-2">{{mainSliderItem.description}}</p>
        </div>

    </div>
</drag-scroll>








<section class="for-you">
<div class="container">
    <div class="title">
        <h3 class="my-1">შენთვის</h3>
        <p class="my-1">ალფა მრავალფეროვან პროდუქტებს გთავაზობს შენი ქონებისა დაპასუხისმგებლობის დასაზღვევად. შენზე მორგებული პირობების მისაღებად მიმართე აგენტს.
        </p>
    </div>
    <div class="for-you-section">
        <div class="d-flex justify-content-center flex-wrap"> <!-- card block parent-->
            <div class="your-card mx-2" *ngFor='let cardItem of cardData'> <!-- card block--> 
                <img class="card-img-icon" [src]="cardItem.logoPath" [alt]="cardItem.title"> <!-- card icon-->
                <img class="w-100" [src]="cardItem.imgPath" [alt]="cardItem.title"> <!-- card img-->
                <p class="text-center my-1 title ">{{cardItem.title}}</p> <!-- card title-->
            </div>
        </div>
    </div>
</div>
</section>





















<section class="for-your-business">
    <div class="container">
        <div class="title">
            <h3 class="my-1">შენი ბიზნესისთვის</h3>
            <p class="my-1">დაცულია თუ არა შენი ბიზნესი? იცი რა ეღირება შენი ბიზნესის დაცვა? ალდაგი უზრუნველყოფს სადაზღვევო დაფარვებს
                ათი ათასობით მცირე მეწარმისთვის. ჩვენ გთავაზოვთ შენი ბიზნეს საქმიანობის უნიკალურ საჭიროებებზე მორგებულ
                დაფარვებს. ჩვენი მომხმარებლების 93% რეკომენდაციას უწევს ალდაგს.
            </p>
        </div>
        <div class="forBusinessSection">
            <drag-scroll drag-scroll #nav>
                <div *ngFor="let item of imgData" class="drag-scroll mt-2 mx-2" drag-scroll-item>
                    <img [src]="item.imageUrl" [alt]="item.imageId">
                    <p class="text-center text-dark fs-3">{{item.imageTitle}}</p>
                </div>
            </drag-scroll>
            <button class="slider-left-btn p-2 border-0 bg-transparent" (click)="moveLeft()"><i class="fas fa-chevron-circle-left"></i></button>
            <button class="slider-right-btn p-2 border-0 bg-transparent" (click)="moveRight()"><i class="fas fa-chevron-circle-right"></i></button>
        </div>
    </div>
</section>



<section class="last-sections">
    <div class="our-apps d-flex justify-content-around align-items-center">
        <div class="title py-3 px-5">
            <h5>გადმოწერე ჩვენი აპლიკაცია</h5>
            <p>და ისარგებლე <br> ჩვენი სერვისებით უფრო მოხერხებულად</p>
        </div>
        <div class="apps d-flex flex-column">
            <div class="play-store mb-2">
                <a [routerLink]='["/company/apps"]'>
                    <img class="" src="../../../../../assets/icons/store/app_store.png" alt="app store">
                </a>
            </div>
            <div class="app_store mt-2">
                <a [routerLink]='["/company/apps"]'>
                    <img class="" src="../../../../../assets/icons/store/play_store.png" alt="play store">
                </a>
            </div>
        </div>
    </div>
</section>