.main-slider{
    .main-slider-img{
        width: 100%;
    }
    .main-textbox{
        position: absolute;
        left: 10%;
        bottom: 10%;
        color: #fff;
        h4{
            font-size: 32px;
            padding-bottom: 8px;
            border-bottom: 3px solid #E84F5B;
        }
        p{
            font-size: 18px;
        }
    }
}
.for-you{
    .title{
        text-align: center;
        h3{
            font-size: 48px;
        }
        p{
            font-size: 16px;
        }
    }
    .for-you-section{
        .your-card{
            position: relative;
            height: 327px;
            width: 346px;
            .card-img-icon{
                position: absolute;
                top: 5%;
                left: 5%;
            }
            p{
                font-size: 24px;
                color: #5C656B;
            }
        }
    }
}




.for-your-business{
    .title{
        text-align: center;
        h3{
            font-size: 48px; 
        }
        p{
            font-size: 16px;
        }
    }
    .forBusinessSection {
        position: relative;
        drag-scroll {
            // height: 435px;
            width: 100%;
            img{
                max-width: 600px;
                width: 100%;
            }
            p{
                font-size: 24px;
            }
        }
        .slider-left-btn{
            position: absolute;
            top: 50%;
            left: 0;
        }
        .slider-right-btn{
            position: absolute;
            top: 50%;
            right: 0;
        }

    }
}
.last-sections{
    .our-apps{
        background-image: url(../../../../../assets/our-apps.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 310px;
        color: #fff;
        h5{
            font-size: 35px;
            padding-bottom: 8px;
            border-bottom: 3px solid #E84F5B;
        }
        p{
            font-size: 25px;
        }
        .title{
            background-color: #000;
            opacity: 0.4;
        }
        .apps{
            .app_store, .play_store{
                width: 175px;
                height: 60px;
            }
        }
    }
}