.for-you{
    .title{
        text-align: center;
        h3{
            font-size: 48px;
            
        }
        p{
            font-size: 16px;
        }
    }
    .for-you-section{
        .your-card{
            position: relative;
            height: 327px;
            width: 346px;
            .card-img-icon{
                position: absolute;
                top: 5%;
                left: 5%;
            }
            p{
                font-size: 24px;
                color: #5C656B;
            }
        }
    }
}




.for-your-business{
    .title{
        text-align: center;
        h3{
            font-size: 48px; 
        }
        p{
            font-size: 16px;
        }
    }
    .forBusinessSection {
        position: relative;
        drag-scroll {
            // height: 435px;
            width: 100%;
            img{
                max-width: 600px;
                width: 100%;
            }
            p{
                font-size: 24px;
            }
        }
        .slider-left-btn{
            position: absolute;
            top: 50%;
            left: 0;
        }
        .slider-right-btn{
            position: absolute;
            top: 50%;
            right: 0;
        }

    }
}
