











<section class="for-your-business">
    <div class="container">
        <div class="title">
            <h3>შენი ბიზნესისთვის</h3>
            <p>დაცულია თუ არა შენი ბიზნესი? იცი რა ეღირება შენი ბიზნესის დაცვა? ალდაგი უზრუნველყოფს სადაზღვევო დაფარვებს
                ათი ათასობით მცირე მეწარმისთვის. ჩვენ გთავაზოვთ შენი ბიზნეს საქმიანობის უნიკალურ საჭიროებებზე მორგებულ
                დაფარვებს. ჩვენი მომხმარებლების 93% რეკომენდაციას უწევს ალდაგს.
            </p>
        </div>
        <div class="forBusinessSection">
            <drag-scroll drag-scroll #nav>
                <div *ngFor="let item of imgData" class="drag-scroll mt-2 mx-2" drag-scroll-item>
                    <img [src]="item.imageUrl" [alt]="item.imageId">
                    <p class="text-center text-dark fs-3">{{item.imageTitle}}</p>
                </div>
            </drag-scroll>
            <button class="slider-left-btn p-2 border-0 bg-transparent" (click)="moveLeft()"><i class="fas fa-chevron-circle-left"></i></button>
            <button class="slider-right-btn p-2 border-0 bg-transparent" (click)="moveRight()"><i class="fas fa-chevron-circle-right"></i></button>
        </div>
    </div>
</section>