<footer>
    <div class="logo-socials-wrapper">
        <div class="logo">
            <a  > 
                <img src="../../../../assets/logos/main-logo/main-logo.png" alt="alpha">
            </a>
        </div>
        <div class="socials">
            <img src="../../../../assets/icons/social/yt-icon.png" alt="Youtube-icon">
            <img src="../../../../assets/icons/social/fb-icon.png" alt="Facebook-icon">
            <img src="../../../../assets/icons/social/ln-icon.png" alt="LinkedIn-icon">
        </div>
    </div>
    <div class="main-content">
        <div class="for-me">
            <ul>
                <li>
                    <a [routerLink]='["/for-me"]' class="footer-title-first">ჩემთვის</a>
                </li>
                <li>
                    <a href="">ჯანმრთელობის</a>
                </li>
                <li>
                    <a href="">ავტომობილის</a>
                </li>
                <li>
                    <a href="">სამოგზაურო</a>
                </li>
                <li>
                    <a href="">ქონების</a>
                </li>
                <li>
                    <a href="">პროფესიული <br> პასუხისმგებლობა</a>
                </li>
            </ul>
        </div>
        <div class="for-business">
            <ul>
                <li>
                    <a [routerLink]='["/for-business"]' class="footer-title-second">ბიზნესისთვის</a>
                </li>
                <li>
                    <a href="">ჯანმრთელობის</a>
                </li>
                <li>
                    <a href="">ავტომობილის</a>
                </li>
                <li>
                    <a href="">სამოგზაურო</a>
                </li>
                <li>
                    <a href="">ქონების</a>
                </li>
                <li>
                    <a href="">პროფესიული <br> პასუხისმგებლობა</a>
                </li>
            </ul>
        </div>
        <div class="about-us">
            <ul>
                <li>
                    <a [routerLink]='["/company/about-us"]' class="footer-title-third" >ჩვენს შესახებ</a>
                </li>
                <li>
                    <a href="">ჯანმრთელობის</a>
                </li>
                <li>
                    <a href="">ავტომობილის</a>
                </li>
                <li>
                    <a href="">სამოგზაურო</a>
                </li>
                <li>
                    <a href="">ქონების</a>
                </li>
                <li>
                    <a href="">პროფესიული <br> პასუხისმგებლობა</a>
                </li>
            </ul>
        </div>
        <div class="contact">
            <ul>
                <li>
                    <a [routerLink]='["/company/contact"]' class="footer-title-fifth">კონტაქტი</a>
                </li>
                <li>
                    <a href="">ჯანმრთელობის</a>
                </li>
                <li>
                    <a href="">ავტომობილის</a>
                </li>
                <li>
                    <a href="">სამოგზაურო</a>
                </li>
                <li>
                    <a href="">ქონების</a>
                </li>
                <li>
                    <a href="">პროფესიული <br> პასუხისმგებლობა</a>
                </li>
            </ul>
        </div>
    </div>
</footer>