<footer>
    <div class="container">
        <div class="logo-socials-wrapper">
            <div class="logo">
                <a [routerLink]='["/home"]'> 
                    <img [routerLink]='["company/apps"]' src="../../../../assets/logos/main-logo/main-logo.png" alt="alpha">
                </a>
            </div>
            <div class="socials">
                <img src="../../../../assets/icons/social/yt-icon.png" alt="Youtube-icon">
                <img src="../../../../assets/icons/social/fb-icon.png" alt="Facebook-icon">
                <img src="../../../../assets/icons/social/ln-icon.png" alt="LinkedIn-icon">
            </div>
        </div>
        <div class="main-content">
            <div class="for-me">
                <ul>
                    <li>
                        <a [routerLink]='["/for-me"]' class="footer-title-first">ჩემთვის</a>
                    </li>
                    <li>
                        <a href="">ჯანმრთელობის</a>
                    </li>
                    <li>
                        <a href="">ავტომობილის</a>
                    </li>
                    <li>
                        <a href="">სამოგზაურო</a>
                    </li>
                    <li>
                        <a href="">ქონება</a>
                    </li>
                    <li>
                        <a href="">პროფესიული <br> პასუხისმგებლობა</a>
                    </li>
                </ul>
            </div>
            <div class="for-business">
                <ul>
                    <li>
                        <a [routerLink]='["/for-business"]' class="footer-title-second">ბიზნესისთვის</a>
                    </li>
                    <li>
                        <a href="">საბანკო გარანტია</a>
                    </li>
                    <li>
                        <a href="">ავტომობილის</a>
                    </li>
                    <li>
                        <a href="">ტვირთის</a>
                    </li>
                    <li>
                        <a href="">ქონების</a>
                    </li>
                    <li>
                        <a href="">აგრო</a>
                    </li>
                    <li>
                        <a href="">პროფესიული <br> პასუხისმგებლობა</a>
                    </li>
                </ul>
            </div>
            <div class="about-us">
                <ul>
                    <li>
                        <a [routerLink]='["/company/about-us"]' class="footer-title-third" >ჩვენს შესახებ</a>
                    </li>
                    <li>
                        <a href="">ვინ ვართ</a>
                    </li>
                    <li>
                        <a href="">ისტორია</a>
                    </li>
                    <li>
                        <a href="">კარიერა</a>
                    </li>
                    <li>
                        <a href="">ბლოგი</a>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <ul>
                    <li>
                        <a [routerLink]='["/company/contact"]' class="footer-title-fifth">კონტაქტი</a>
                    </li>
                    <li>
                        <a href="">ცხელი ხაზი</a>
                    </li>
                    <li>
                        <a href="">ონლაინ კონსულტაცია</a>
                    </li>
                    <li>
                        <a href="">ანონიმური შეტყობინება</a>
                    </li>
                    <li>
                        <a href="">საპრეტენზიო წერილი</a>
                    </li>
                    <li>
                        <a href="">ფილიალები</a>
                    </li>
                </ul>
            </div>
            <div class="our-apps">
                <ul>
                    <li>
                        <a [routerLink]='["/company/apps"]' class="footer-title-fifth">ჩვენი აპლიკაციები</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>