footer{
    .container{
        max-width: 1124px;
        width: 100%;
        margin: 0 auto;
      }
    background-color: #5C656B;
    .logo-socials-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            margin-bottom: 25px;
            a{
                
                img{
                    width: 100%;
                }
            }
        }
        .socials{
            width: 140px;
            display: flex;
            justify-content: space-around;
        }
    }
    .main-content{
        display: flex;
        .for-me{
            margin-right: 80px;
            ul{
                list-style: none; 
                // ^ ეს მინდა გლობალური გავხადო
                :first-child{
                    margin-bottom: 15px;
                }
                li{
                    margin-bottom: 5px;
                    .footer-title-first{
                        font-size: 18px;
                        color: #ffffff;
                        
                    }
                    a{
                        text-decoration: none;
                        color: #F6F6F6;
                        font-size: 12px;
                    }
                }
                
            }
        }
        .for-business{
            margin-right: 80px;
            ul{
                list-style: none; 
                // ^ ეს მინდა გლობალური გავხადო
                :first-child{
                    margin-bottom: 15px;
                }
                li{
                    margin-bottom: 5px;
                    .footer-title-second{
                        font-size: 18px;
                        color: #ffffff;
                    }
                    a{
                        text-decoration: none;
                        color: #F6F6F6;
                        font-size: 12px;
                    }
                }
                
            }
        }
        .about-us{
            margin-right: 80px;
            ul{
                list-style: none; 
                // ^ ეს მინდა გლობალური გავხადო
                :first-child{
                    margin-bottom: 15px;
                }
                li{
                    margin-bottom: 5px;
                    .footer-title-third{
                        font-size: 18px;
                        color: #ffffff;
                    }
                    a{
                        text-decoration: none;
                        color: #F6F6F6;
                        font-size: 12px;
                    }
                }
                
            }
        }
        .contact{
            margin-right: 80px;
            ul{
                list-style: none; 
                // ^ ეს მინდა გლობალური გავხადო
                :first-child{
                    margin-bottom: 15px;
                }
                li{
                    margin-bottom: 5px;
                    .footer-title-fifth{
                        font-size: 18px;
                        color: #ffffff;
                    }
                    a{
                        text-decoration: none;
                        color: #F6F6F6;
                        font-size: 12px;
                    }
                    // ესენიც ყველა
                }
                
            }
        }
        .our-apps{
            ul{
                list-style: none; 
                // ^ ეს მინდა გლობალური გავხადო
                :first-child{
                    margin-bottom: 15px;
                }
                li{
                    .footer-title-fifth{
                        font-size: 18px;
                        color: #ffffff;
                    }
                    a{
                        text-decoration: none;
                        color: #F6F6F6;
                    }
                    // ესენიც ყველა
                }
                
            }
        }
    }
}